In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__

'1.5.3'

In [6]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-30 22:19:52--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Распознаётся raw.githubusercontent.com (raw.githubusercontent.com)… 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Подключение к raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 298573 (292K) [text/plain]
Сохранение в: «laptops.csv»

laptops.csv         100%[===================>] 291,58K   574KB/s    за 0,5s

2024-09-30 22:19:54 (574 KB/s) - «laptops.csv» сохранён [298573/298573]

In [7]:
import pandas as pd
df = pd.read_csv('laptops.csv')
print(df.head())

                                              Laptop Status   Brand  \
0  ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...    New    Asus
1  Alurin Go Start Intel Celeron N4020/8GB/256GB ...    New  Alurin
2  ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...    New    Asus
3  MSI Katana GF66 12UC-082XES Intel Core i7-1270...    New     MSI
4  HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...    New      HP

        Model            CPU  RAM  Storage Storage type       GPU  Screen  \
0  ExpertBook  Intel Core i5    8      512          SSD       NaN    15.6
1          Go  Intel Celeron    8      256          SSD       NaN    15.6
2  ExpertBook  Intel Core i3    8      256          SSD       NaN    15.6
3      Katana  Intel Core i7   16     1000          SSD  RTX 3050    15.6
4         15S  Intel Core i5   16      512          SSD       NaN    15.6

  Touch  Final Price
0    No      1009.00
1    No       299.00
2    No       789.00
3    No      1199.00
4    No       669.01

In [8]:
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [17]:
df['Brand'].nunique()

27

Q4. Missing values

In [20]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

Q5. Maximum final price

In [34]:
df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

Q6. Median value of Screen

Find the median value of Screen column in the dataset.
Next, calculate the most frequent value of the same Screen column.
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
Now, calculate the median value of Screen once again.

In [40]:
median_value = df['Screen'].median()

In [51]:
most_frequent_screen = df['Screen'].mode()[0]

In [52]:
df['Screen'].isnull().sum()

4

In [53]:
df['Screen'] = df['Screen'].fillna(most_frequent_screen)

In [54]:
df['Screen'].isnull().sum()

0

In [55]:
df['Screen'].median()

15.6

Q7. Sum of weights
Select all the "Innjoo" laptops from the dataset.
Select only columns RAM, Storage, Screen.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?

In [96]:
injoo_laptops = df[df['Brand'] == "Innjoo"]

In [97]:
x = injoo_laptops[['RAM', 'Storage', 'Screen']]

In [98]:
x

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [99]:
X = x.values

In [100]:
XTX = np.dot(X.T, X)

In [101]:
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [102]:
XTX_inv = np.linalg.inv(XTX)

In [103]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [104]:
first = np.dot(XTX_inv, X.T)

In [106]:
result = np.dot(first, y).sum()

In [111]:
result

91.2998806299557